@import url(//fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Julius+Sans+One);

body {
    background-color: #1C4971;
}

.tophalf {
    background-color: #001;
    padding: 20px;
    padding-bottom: 5em;
}

.header {
    margin-left: 10%;
    width: 80%;
}

h1 {
    font-family: "IM Fell Double Pica", serif;
    font-size: 2.05em;
    line-height: 0.65em;
    float: left;
    color: #fefefe;
}

.byline {
    font-size: 0.75em;
    margin-left: 15px;
}

h2, h3 {
    font-family: "IM Fell Double Pica", serif;
    text-align: center;
}

.navbar {
    border-radius: 25px;
    background-color: #10bac5;
    float: right;
    margin-top: -5px;
    padding: 0px;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar li {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px;
    list-style: none;
    border-right: dotted 1px #0c4f8b;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a {
    color: #0c4f8b;
}

.banner {
    background-image: url(images/geometric_blue02.jpg);
    image-orientation: bottom;
    width: 100%;
    height: 35vh;
    border-top: 20px solid #031729;
    border-bottom: 100px solid #031729;
}

.contentwrapper {
    background: rgba(235, 240, 245, 0.5);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20vh;
    margin-left: 15%;
    width: 70%;
    height: 71.7vh;
    padding: 20px;
}