@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<HW5.Models.Driver>
<div id="dbTable">
    <table>
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>item.DriverID</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section PageScripts
{
    <script>
    </script>
}