@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" id="DMVForm">
    ODL/Permit/ID/Customer # <input type="number" id="driverID" name="Id"/><br />
    Date of Birth (MM/DD/YYYY) <input type="text" id="dateOfBirth"/><br />
    Full Name (Last Name, First Name Middle Initial) <input type="text" id="fullName" name="FullName" /><br />
    Address <input type="text" id="address" name="Address"/><br />
    City <input type="text" id="city" name="City" /><br />
    State <select id="state" name="State">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
	    <option value="FL">Florida</option>
	    <option value="GA">Georgia</option>
	    <option value="HI">Hawaii</option>
	    <option value="ID">Idaho</option>
	    <option value="IL">Illinois</option>
	    <option value="IN">Indiana</option>
	    <option value="IA">Iowa</option>
	    <option value="KS">Kansas</option>
	    <option value="KY">Kentucky</option>
	    <option value="LA">Louisiana</option>
	    <option value="ME">Maine</option>
	    <option value="MD">Maryland</option>
	    <option value="MA">Massachusetts</option>
	    <option value="MI">Michigan</option>
	    <option value="MN">Minnesota</option>
	    <option value="MS">Mississippi</option>
	    <option value="MO">Missouri</option>
	    <option value="MT">Montana</option>
	    <option value="NE">Nebraska</option>
	    <option value="NV">Nevada</option>
	    <option value="NH">New Hampshire</option>
	    <option value="NJ">New Jersey</option>
	    <option value="NM">New Mexico</option>
	    <option value="NY">New York</option>
	    <option value="NC">North Carolina</option>
	    <option value="ND">North Dakota</option>
	    <option value="OH">Ohio</option>
	    <option value="OK">Oklahoma</option>
	    <option value="OR">Oregon</option>
	    <option value="PA">Pennsylvania</option>
	    <option value="RI">Rhode Island</option>
	    <option value="SC">South Carolina</option>
	    <option value="SD">South Dakota</option>
	    <option value="TN">Tennessee</option>
	    <option value="TX">Texas</option>
	    <option value="UT">Utah</option>
	    <option value="VT">Vermont</option>
	    <option value="VA">Virginia</option>
	    <option value="WA">Washington</option>
	    <option value="WV">West Virginia</option>
	    <option value="WI">Wisconsin</option>
	    <option value="WY">Wyoming</option>
    </select><br />
    Zip Code <input type="text" id="zipCode" name="ZipCode" /><br />
    County <input type="text" id="county" name="County"/><br />
    Today's Date (MM/DD/YYYY) <input type="text" id="dateOfChange"/><br />
    <div id="errorMessage"></div>

    <input type="submit" id="submitButton"/>
</form>

@section PageScripts
{
    <script>
        $("#driverID").change(function () {
            var id = $(this).val();

            $("#errorMessage").empty();
            if (id.length == 7 && isNaN(parseInt(id)) == false)
            {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("An ID must be a 7-digit number.");
                $("#submitButton").attr("disabled", "disabled");
            }

        }) //$("#driverID").change()

        $("#dateOfBirth").change(function () {
            var birthDate = $(this).val();

            $("#errorMessage").empty();

            if (isValidDate(birthDate))
            {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else
            {
                $("#errorMessage").append("Your date of birth must be a valid date in the format MM/DD/YYYY.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#dateOfBirth").change()

        $("#fullName").change(function () {
            var name = $(this).val();
            var nameParts = name.split(", ");

            $("#errorMessage").empty();
            //if the name is in the correct format
            if (nameParts.length == 2) {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("Your name must be entered in the format 'Last Name, First Name (Middle Initial)'.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#fullName").change()

        $("#address").change(function () {
            var address = $(this).val();
            var addressParts = address.split(" ");

            $("#errorMessage").empty();
            if (address.length > 0 && addressParts.length >= 3) {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("Please enter a valid address.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#address").change()

        $("#city").change(function () {
            if ($(this).val().length > 0) {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else {
                $("#errorMessage").append("Please enter a valid city.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#city").change()

        $("#zipCode").change(function () {
            var zip = $(this).val();

            $("#errorMessage").empty();
            //if the zip code is the correct length
            if (zip.length == 5 && isNaN(parseInt(zip)) == false)
            {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else
            {
                $("#errorMessage").append("Zip code must be a 5-digit number.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#zipCode").change()

        $("#county").change(function () {
            var county = $(this).val().split(" ");

            if ($(this).val().length > 0 && county.length == 1)
            {
                if (isComplete() && $("#submitButton").is(":disabled")) {
                    $("#submitButton").removeAttr("disabled");
                }
            }
            else
            {
                $("#errorMessage").append("Please enter a valid county.");
                $("#submitButton").attr("disabled", "disabled");
            }
        }) //$("#county").change()

        $("#dateOfChange").change(function () {
            var changeDate = $(this).val();
            var today = new Date(); //a date to check against

            $("#errorMessage").empty();
            //if the date is valid
            if (isValidDate(changeDate)) {
                var dateElement = changeDate.split("/");
                //if the date they entered is the same date as the current date
                if ((today.getMonth() + 1) == dateElement[0] && today.getDate() == dateElement[1] && today.getFullYear() == dateElement[2])
                {
                    if (isComplete() && $("#submitButton").is(":disabled")) {
                        $("#submitButton").removeAttr("disabled");
                    }

                    return;
                } //if the date matches today's date
                else
                {
                    $("#errorMessage").append("The date entered must match today's date.");
                } //if the date doesn't match today's date
            } //if the date is valid
            else {
                $("#errorMessage").append("Today's date must be in the format MM/DD/YYYY.");
            } //if the date isn't valid

            $("#submitButton").attr("disabled", "disabled");
        }) //$("#dateOfChange").change()

        function isValidDate(dateString) {
            var dateElement = dateString.split("/");

            //if there are exactly 3 elements split by a /
            if (dateElement.length == 3)
            {
                //if the first element is a number
                if (isNaN(parseInt(dateElement[0])) == false)
                {
                    var month = parseInt(dateElement[0]);
                    //if the first element is a number that is a valid month
                    if (month > 0 && month < 13)
                    {
                        //if the third element is a number
                        if (isNaN(parseInt(dateElement[2])) == false)
                        {
                            //if the third element is the right length
                            if (dateElement[2].length == 4)
                            {
                                var year = parseInt(dateElement[2]);
                                //if the second element is a number
                                if (isNaN(parseInt(dateElement[1])) == false)
                                {
                                    var day = parseInt(dateElement[1]);
                                    //if the day could potentially be valid
                                    if (day > 0 && day < 32)
                                    {
                                        //if the day is a day of the month that exists
                                        if (month == 1 || month == 3 || month == 5 || month == 7 || month == 8 || month == 9 || month == 10 || month == 12)
                                        {
                                            return true;
                                        }
                                        else if (day < 31)
                                        {
                                            //if the day is a day of the month that exists
                                            if (month == 4 || month == 6 || month == 11)
                                            {
                                                return true;
                                            }
                                            else if (day < 28)
                                            {
                                                return true;
                                            }
                                            else if (day == 29 && month == 2)
                                            {
                                                //if the year is a leap year
                                                if (year % 400 == 0)
                                                {
                                                    return true;
                                                }
                                                else if (year % 4 == 0 && year % 100 != 0)
                                                {
                                                    return true;
                                                }
                                            } //if the year is a leap year and the date is 02/29
                                        } //if days is between 1 and 30
                                    } //if days is between 1 and 31
                                } //if the day is a number
                            } //if the year is 4 digits
                        } //if the year is a number
                    } //if the month is between 1 and 12
                } //if the month is a number
            } //if there are the correct number of elements in the date

            return false;
        } //isValidDate(dateString)

        function isComplete()
        {
            var id = $("#driverID").val();
            var address = $("#address").val();
            var city = $("#city").val();
            var dateOfBirth = $("#dateOfBirth").val();
            var name = $("#fullName").val();
            var zip = $("#zipCode").val();
            var county = $("#county").val();
            var today = $("#dateOfChange").val();

            if (id.length > 0 && address.length > 0 && city.length > 0 && dateOfBirth.length > 0 && name.length > 0 && zip.length > 0 && county.length > 0 && today.length > 0)
            {
                return true;
            }

            return false;
        }

        $("#DMVForm").submit(function (event) {
            var birthDateElement = $("#dateOfBirth").split("/");
            var currentDateElement = $("#dateOfChange").split("/");

            return {
                DateOfBirth: new Date(birthDateElement[2] + "-" + birthDateElement[0] + "-" + birthDateElement[1]).toISOString()
            }

            return {
                DateOfChange: new Date(currentDateElement[2] + "-" + currentDateElement[0] + "-" + currentDateElement[1]).toISOString()
            }
        });
    </script>
}