<form id="gifSearch">
    <input type="search" id="searchTerm" name="SearchQuery" placeholder="Search Query" /> <span id="colorChange">x</span> 
    <input type="number" id="resultNum" name="NumberRequested" placeholder="Number of Results" step="1" min="1" list="defaultNumbers"/>
    <input type="button" id="submitButton" name="search" value="Search"/>

    <datalist id="defaultNumbers">
        <option value="5">
        <option value="10">
        <option value="15">
        <option value="20">
        <option value="25">
    </datalist>
</form>

<div id="searchResults"></div>

@section PageScripts {
    <script src="~/Scripts/script.js"></script>
}

