
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <p><a href="/bikes">Bikes</a> <span class="subVisibility">></span> <a href="/bikes/@ViewBag.Bikes" class="subCat">@ViewBag.Sub</a> <span class="productVisibility">></span> <a href="/bikes/@ViewBag.Bikes/@ViewBag.Id" class="product">@ViewBag.Product</a></p>
}

<h2>@ViewBag.Header</h2>

<!-- The View if they are viewing the category -->
<div class="catWrapper">
    <h3>Category</h3>
</div>

<!-- The View if they are viewing the subcategory -->
<div class="subCatWrapper">
    <h3>Subcategory</h3>
</div>

<!-- The View if they are viewing the product -->
<div class="productWrapper">
    <h3>Product</h3>
</div> <!-- The View if they are viewing the product -->

@section PageScripts {
    <script>
        function setDynamicElements() {
            var url = window.location.pathname.split("/");

            if (url.length <= 2) {
                $(".subVisibility").css("visibility", "hidden");
                $(".productVisibility").css("visibility", "hidden");
                $(".catWrapper").css("visibility", "visible");
                $(".subCatWrapper").css("visibility", "hidden");
                $(".productWrapper").css("visibility", "hidden");
            }
            else if (url.length == 3) {
                $(".subVisibility").css("visibility", "visible");
                $(".productVisibility").css("visibility", "hidden");
                $(".catWrapper").css("visibility", "hidden");
                $(".subCatWrapper").css("visibility", "visible");
                $(".productWrapper").css("visibility", "hidden");
            }
            else {
                $(".subVisibility").css("visibility", "visible");
                $(".productVisibility").css("visibility", "visible");
                $(".catWrapper").css("visibility", "hidden");
                $(".subCatWrapper").css("visibility", "hidden");
                $(".productWrapper").css("visibility", "visible");
            }
        }
    </script>
}