
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <p><a href="/bikes">Bikes</a> <span class="subVisibility">></span> <a href="/bikes/@ViewBag.Bikes" class="subCat">@ViewBag.Sub</a> <span class="productVisibility">></span> <a href="/bikes/@ViewBag.Bikes/@ViewBag.Id" class="product">@ViewBag.Product</a></p>
}

<h2>@ViewBag.Header</h2>

<!-- The View if they are viewing the category -->
@if(ViewBag.Type == "Category")
{
    <div id="sideBar">

    </div>
} <!-- The View if they are viewing the category -->

<!-- The View if they are viewing the subcategory -->
@if(ViewBag.Type == "SubCategory")
{

} <!-- The View if they are viewing the subcategory -->

<!-- The View if they are viewing the product -->
@if(ViewBag.Type == "Product")
{

} <!-- The View if they are viewing the product -->

@section PageScripts {
    <script>
        function setDynamicElements() {
            var url = window.location.pathname.split("/");

            if (url.length <= 2) {
                $(".subVisibility").css("visibility", "hidden");
                $(".productVisibility").css("visibility", "hidden");
            }
            else if (url.length == 3) {
                $(".subVisibility").css("visibility", "visible");
                $(".productVisibility").css("visibility", "hidden");
            }
            else {
                $(".subVisibility").css("visibility", "visible");
                $(".productVisibility").css("visibility", "visible");
            }
        }
    </script>
}