@import url(//fonts.googleapis.com/css?family=Pacifico);

body {
    background-color: #0a0a0a;
}

h1 {
    text-align: center;
    margin-top: 30px;
    background-color: #d20040;
    color: #fff;
    padding: 5px;
    font-family: Pacifico;
}

.content {
    padding: 30px;
    padding-top: 0;
    text-align: center;
    margin-top: 15px;
}

#colorChange
{
    color: #fff;
}

#searchResults {
    padding: 25px;
}

.gifContainer {
    display: inline-grid;
    margin: 5px;
}

img
{
    height: 200px;
    width: 200px;
}