@import url(//fonts.googleapis.com/css?family=Bree+Serif|Permanent+Marker|Carrois+Gothic+SC);

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.titleHeader {
    background-color: #17ace5;
    margin-bottom: 0;
}

.navbar 
{
    background-color: #000;
    margin-top: 0;
}

.navbar ul
{
    margin-bottom: 0;
}

.navbar li {
    float: left;
    padding-right: 30px;
    font-family: "Carrois Gothic SC", sans-serif;
    list-style: none;
}

.navbar li a
{
    color: #fff;
}

.navbar li .current
{
    color: #13d5ff;
}

h1 {
    font-family: "Permanent Marker";
    margin-left: 10px;
    margin-bottom: 0;
    color: #2239ab;
}

h2{
    font-family: "Bree Serif", serif;
}

.content 
{
    display: inline;
    padding: 30px;
}

.subVisibility
{
    visibility: hidden;
}

.productVisibility {
    visibility: hidden;
}

.productMenu {
    background-color: #efeee2;
    float: left;
    border-right: 1px solid #000;
    margin-right: 30px;
    padding: 10px;
}

.productMenu li
{
    list-style: none;
    margin-left: -30px;
}

.productMenu li.categoryHead
{
    font-family: "Bree Serif", serif;
    font-size: 110%;
}

.productMenu li.categoryHead ul li
{
    font-family: sans-serif;
    font-size: 85%;
    margin-left: -40px;
}

.productMenu li a
{
    color: #222;
}

