body {
    background-color: #fff;
}

.navbar 
{
    background-color: #000;
}

.productnav
{
    background-color: #000;
}

.subVisibility
{
    visibility: hidden;
}

.productVisibility {
    visibility: hidden;
}
