@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC);

body {
    color: #311;
}

.navbar {
    background-color: #f96b5c;
    color: #fec;
    font-family: "Patrick Hand SC";
    padding-left: 25px;
    
}

a, a:hover {
    color: #f96b5c;
}

h1 {
    width: 100%;
    margin: 0;
    font-size: 200%;
}

h2 {
    font-family: "Patrick Hand SC";
    font-size: 150%;
}

nav ul {
    margin-bottom: 0px;
}

nav li {
    list-style-type: none;
    float: left;
    margin-right: 35px;
    font-size: 120%;
}

nav li>a {
    color: #411;
    
}

nav li>a:hover {
    text-decoration: none;
    color: #fec;
    
}

nav li>a.active {
    color: #ffbd9b;
    cursor: default;
    
}

.content {
    padding: 25px;
}

table {
    border: 3px solid;
    border-color: #411;
}

td, th {
    border: 1px solid #411;
    padding: 5px;
}

td:nth-child(2) {
    font-style: italic;
}

td:nth-last-child(1) {
    font-weight: bold;
}

th {
    border-bottom: 3px solid;
    font-family: "Patrick Hand SC";
    font-size: 110%;
    color: #411;
    background-color: #f76;
}

tr:nth-child(odd) {
    background-color: #fec;
}

tr:nth-child(even) {
    background-color: #ffe;
}

.htmlCode, .cssCode, .gitCode {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 15px;
    border: solid 1px #411;
    color: #000;
    line-height: 1.25em;
    max-width: 70em;
    margin-bottom: 10px;
}

.htmlTag {
    color: #054681;
}

.htmlClass, .cssMeasure {
    color: #3a6508;
}

.htmlName, .cssValue {
    color: #ff9715;
}

.cssElement {
    color: #8e44c1;
}

.col1 {
    width: 50%;
    float: left;
    padding-right: 12px;
    text-align: justify;
}

.col2 {
    width: 50%;
    float: right;
    padding-left: 13px;
}

.tab {
    padding-left: 3em;
}