@model IEnumerable<final.Models.Actors>
@{
    ViewBag.Title = "Actor";
}

<h2>Actor</h2>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.Name)</td>
            </tr>
        }
    </tbody>
</table>
