@model IEnumerable<final.Models.Actors>
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>
<p>Welcome to the Film Database. Select an actor below to view their films.</p>

<form>
    @foreach (var item in Model)
    {
        <input type="button" onclick="selectActor(@item.ActorId)" value="@Html.DisplayFor(ModelItem => item.Name)" />
    }
</form>

<div id="resultsTable"></div>

@section scripts{
    <script>
        function selectActor(id) {
            var source = "/Home/ByActor/" + id;

            $.ajax({
                type: "GET",
                dataType: "json",
                url: source,
                success: displayResults,
                error: errorOnAjax
            });
        }

        function displayResults(results) {
            $("#resultsTable").empty();
            $("#resultsTable").append(displayMovies(results));
        }

        function displayMovies(results) {
            "use strict";
            var tab = $("<table>");
            var thead = $("<thead>\
                                <tr>\
                                    <th>Actor</th>\
                                    <th>Movie</th>\
                                    <th>Director</th>\
                                </tr>\
                            </thead>");
            thead.appendTo(tab);

            var tbody = $("<tbody>");
            var trow = null;
            var tdat = null;
            var n = null;

            jQuery.each(results, function (i, data) {
                trow = $("<tr>");
                n = data.Actor;
                tdat = $("<td>").html(n);
                tdat.appendTo(trow);
                n = data.Movie;
                tdat = $("<td>").html(n);
                tdat.appendTo(trow);
                n = data.Director;
                tdat = $("<td>").html(n);
                tdat.appendTo(trow);
                trow.appendTo(tbody);
            });

            tbody.appendTo(tab);

            return tab;
        }

        function errorOnAjax() {
            console.log("Ajax error");
        }
</script>

}