
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CS 460 Homework 4</title>
</head>
<body>
    <nav>
        <section class="navbar">
            <h1>CS 460 Homework 4</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li>@Html.ActionLink("Page 1", "Page1")</li>
                <li>@Html.ActionLink("Page 2", "Page2")</li>
                <li>@Html.ActionLink("Page 3", "Page3")</li>
                <li><a href="https://mcalawa.github.io/senior_project/">Portfolio Home</a></li>
            </ul>
        </section>
    </nav>
</body>
</html>
